.EndScreen {
    width: 100%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__thankYou {
        margin-bottom: 1em;    
        font-size: 2.5em;
        font-weight: 200;
    }
}  

.EvaluationFileDropzone {
    width: 100%;
    height: 100%;

    &__files {
        display: flex;
        flex-direction: column;

        &__addition {
            display: flex;
            justify-content: center;
            align-items: center;

            &__submit {
                width: 60px;
                height: 60px;
                padding: 15px;
                border-radius: 30px;
                text-align: center;
                vertical-align: middle;
                color: white;
                background-color: rgb(27, 133, 133);
                font-size: 1.5em;
                margin-left: 30px;
    
                &:hover {
                    background-color: rgb(51, 202, 202);
                }
    
                &:active {
                    background-color: rgb(26, 97, 97);
                }
            }
        }

        &__item {
            background-color: rgba(0,0,0,.2);
            color: white;
            padding: 20px 15px;
            border-radius: 10px;
            margin-bottom: 15px;
        }
    }
}

.Evaluation {
    width: 100%;
    height: 100%;
    margin: 50px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 80px 0 50px;

        &__padding {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            font-weight: 200;
            text-align: center;
            width: 15%;
        }
    }

    &__dropzone {
        flex: 1;
        width: 100%;
    }

    &__select {
        width: 260px;
        border-radius: 10px;
        height: 40px;
        font-size: 1.2em;
        margin-bottom: 20px;
        outline: none;
    }

    &__error {
        color: rgb(173, 0, 52);
    }

    &__title {    
        font-size: 2.6em;
        font-weight: 200;
        padding: 0 50px 35px 50px;
    }

    &__buttonbar {
        display: flex;
        flex-direction: column;

        &__button {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            color: white;
            background-color: rgb(27, 133, 133);
            font-size: 1.2em;
            margin-bottom: 1em;

            &:hover {
                background-color: rgb(51, 202, 202);
            }

            &:active {
                background-color: rgb(26, 97, 97);
            }
        }
    }
}

.EvaluationSearchTerms {
    width: 100%;
    height: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 

    &__toolBar {
        min-width: 30%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &__submit {
            margin-top: 40px;
            padding: 15px;
            border-radius: 10px;
            color: white;
            background-color: rgb(27, 133, 133);
            font-size: 1.2em;
            font-weight: 200;

            &:hover {
                background-color: rgb(51, 202, 202);
            }

            &:active {
                background-color: rgb(26, 97, 97);
            }
        }

        &__input {
            width: 96%;
            color: black;
            padding: 10px 10px;
            margin-bottom: 20px;
            font-size: 1.2em;
            border-radius: 10px;
            outline: none;
        }

        &__title {
            font-size: 2em;
            font-weight: 200;
            margin-bottom: 20px;
        }

        &__searchTerms {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &__item {
                width: auto;
                padding: 10px;
                background-color: purple;
                border-radius: 10px;
                margin-right: 15px;
                margin-bottom: 15px;
                font-size: 1.2em;
                font-weight: 200;
                overflow: hidden;
                
                &__text {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                &:active {
                    background-color: rgb(87, 9, 87);
                }

                &:hover {
                    background-color: rgba(182, 20, 182, .4);
                    overflow: visible;
                    z-index: 100;
                }
            }
        }
    }

    &__imageBar {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__item {
            max-width: 70%;
            max-height: 500px;
        }
    }
}

.EvaluationRelevance {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;     
    
    &__toolbar {
        min-width: 30%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &__title {
            font-size: 1.5em;
            font-weight: 200;
            margin-bottom: 20px;
        }

        &__searchTerms {
            font-size: 2em;
            font-weight: 200;
            margin-bottom: .7em;

            p {
                margin: 0;
            }
        }

        &__rating {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__button {
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                padding: 20px 10px;
                border-radius: 10px;
                color: white;
                font-size: 1.3em;
                font-weight: 200;

                &__green {
                    background-color: var(--green);

                    &:hover {
                        background-color: var(--green-darker);
                    }
    
                    &:active {
                        background-color: var(--green);
                    }
                }

                &__yellow {
                    background-color: var(--yellow);

                    &:hover {
                        background-color: var(--yellow-darker);
                    }
    
                    &:active {
                        background-color: var(--yellow);
                    }
                }

                &__red {
                    background-color: var(--red);

                    &:hover {
                        background-color: var(--red-darker);
                    }
    
                    &:active {
                        background-color: var(--red);
                    }
                }
            }
        }
    }
}

.EvaluationRanking {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;   

    &__toolbar {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 150px;

        &__title {
            font-size: 1.5em;
            font-weight: 200;
            margin-bottom: .3em;
        }

        &__searchTerms {
            font-size: 2em;
            font-weight: 200;
            margin-bottom: 1em;

            p {
                margin: 0;
            }
        }

        &__submit {
            background-color: rgb(27, 133, 133);
            font-size: 1.2em;

            &:hover {
                background-color: rgb(51, 202, 202);
            }

            &:active {
                background-color: rgb(26, 97, 97);
            }
        }
    }
}

.ImageSlide {    
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    &__item {
        border-radius: 0px;
        margin-bottom: 20px;
        display: flex;
        position: relative;

        &__image {
            width: 100%;
            height: 100%;
            cursor: pointer;

            &__disabled {
                opacity: 0.4;
            }
        }

        &__button {
            position: absolute;
            top: 0;
            right: 0;
            width: 25px;
            height: 25px;
            background-color: #333333;
            border-bottom-left-radius: 5px;            
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}